<div class="head-menu" role="navigation">

    <ul class="nav nav-pills head-menu__left head-menu__panel">
    <% for (var menuTitle in headMenuLeft) {%>
<li><a href=<%= headMenuLeft[menuTitle] %> role="presentation"><%= menuTitle %></a></li>
        <% } %>
</ul>

<% if (headMenuRight) { %>
<ul class="nav nav-pills head-menu__right head-menu__panel">
        <% for (var menuTitle in headMenuRight) {%>
    <li><a href=<%= headMenuRight[menuTitle] %> role="presentation"><%= menuTitle %></a></li>
            <% }; %>
</ul>
    <% } %>

</div>
