<div class="search-panel zero-width">
    <form>

        <div class="form-group input-group">
            <span class="input-group-addon search-panel__search-button">
                <button type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
            <label for="search-input" class="sr-only"></label>
            <input id="search-input" type="text" class="form-control" name="search-input">
            <span class="input-group-addon search-panel__hide-button">
                <div>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </div>
            </span>
        </div>

        <div class="form-group search-panel__price-span">
            <label>
                <p>Диапазон цен</p>
                <div class="clearfix"></div>
                <input id="price-from" type="text" class="form-control" name="price-from" placeholder="от">
                <input id="price-to" type="text" class="form-control" name="price-to" placeholder="до">
            </label>
        </div>

    </form>
</div>