<div class="search-panel zero-width">
    <form>

        <div class="form-group">
            <label for="search-input" class="sr-only"></label>
            <input id="search-input" type="text" class="form-control">
        </div>

    </form>
</div>