<ul class="nav nav-tabs side-menu">
    <% for(var menuTitle in sideMenu) { %>
        <li class="menu-button">
            <a role="presentation" href=<%= sideMenu[menuTitle] %>><%= menuTitle %></a>
        </li>
    <% } %>
</ul>