<ul class="nav nav-tabs side-menu">
    <% for(var i = 0; i < sideMenu.length; i++) { %>
        <li class="menu-button">
            <a role="presentation" href=<%= sideMenu[i].url %>><%= sideMenu[i].name %></a>
        </li>
    <% } %>
</ul>