<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <link rel="stylesheet" href="/vendor/bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="/vendor/bower_components/jquery/dist/jquery.js"></script>
    <script src="/vendor/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  </head>

  <body>

    <div class="header">
      <div class="container">
        <div class="head-menu" role="navigation">
          <ul class="nav nav-pills">
            <% for (var menuTitle in headMenu) {%>
              <li><a href=<%=headMenu[menuTitle]%> role="presentation"><%=menuTitle%></a></li>
            <%}%>
          </ul>
        </div>
      </div>
    </div>

  </body>
</html>
