<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/vendor/bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel='stylesheet' href="/stylesheets/style.css"/>
    <link rel='stylesheet' href="/stylesheets/indexPageStyle.css"/>
    <link rel='stylesheet' href="/stylesheets/headMenuStyle.css"/>
    <link rel='stylesheet' href="/stylesheets/modals.css"/>

    <!--Picturefill-->
    <script>
      document.createElement( "picture" );
    </script>
    <script src="/vendor/bower_components/picturefill/dist/picturefill.js" async></script>
  </head>

  <body>

    <div class="header">
        <%- partial("./partials/headMenu.ejs")%>
    </div>

    <div class="jumbotron showcase">
      <div class="showcase__image">
        <!--<img src="/images/showcase_big.jpg">-->
        <picture>
          <%if (env === "production") {%>
            <source srcset="/images/showcase_small.jpg" media="(max-width: 480px)">
            <source srcset="/images/showcase_medium.jpg" media="(max-width: 1024px)">
          <%} else {%>
            <source srcset="/ima ges/showcase_small_t.jpg" media="(max-width: 480px)">
            <source srcset="/images/showcase_medium_t.jpg" media="(max-width: 1024px)">
          <%}%>
          <img srcset="/images/showcase_big.jpg">
        </picture>
      </div>
    </div>

    <script src="/vendor/bower_components/jquery/dist/jquery.js"></script>
    <script src="/vendor/bower_components/bootstrap/dist/js/bootstrap.js"></script>

    <%if (env === "production") {%>
      <script src="/javascripts/build/index.min.js"></script>
    <%} else {%>
      <script src="/javascripts/build/index.js"></script>
    <%}%>

  </body>
</html>
