<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel='stylesheet' href="/stylesheets/style.css" />
    <link rel='stylesheet' href="/stylesheets/indexPageStyle.css" />
    <link rel='stylesheet' href="/stylesheets/headMenuStyle.css" />

    <script src="/vendor/bower_components/jquery/dist/jquery.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  </head>

  <body>

    <div class="header">
      <div class="container">

        <%- partial("./partials/headMenu.ejs")%>

      </div>
    </div>

    <div class="jumbotron showcase">
      <div class="showcase__image">
        <img src="/images/showcase.jpg">
      </div>
    </div>


  </body>
</html>
