
<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>

        <link rel="stylesheet" href="/vendor/bower_components/bootstrap/dist/css/bootstrap.css"/>
        <link rel='stylesheet' href="/stylesheets/style.css" />
        <link rel='stylesheet' href="/stylesheets/headMenuStyle.css" />
        <link rel='stylesheet' href="/stylesheets/sideMenuStyle.css" />
        <link rel='stylesheet' href="/stylesheets/shopPageStyle.css" />

        <script src="/vendor/bower_components/jquery/dist/jquery.js"></script>
        <script src="/vendor/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    </head>

    <body>

        <div class="header">
            <div class="container">

                <%- partial("./partials/headMenu.ejs")%>

            </div>
        </div>

        <div class="container main-content">
            <div class="row">
                <div class="col-sm-2 left-margin">
                    <%- partial("./partials/sideMenu.ejs")%>
                </div>
                <div class="col-sm-10">
                    <div id="commodity-list" class="thumbnails">

                    </div>
                </div>
            </div>
        </div>

        <script src="/javascripts/shopClient.js"></script>

    </body>
</html>
