.head-menu {
    margin-bottom: 0;
    border-radius: 0;
    border: none;
    margin-left: -15px;
    margin-right: -15px;
    padding-right: 15px;
}

.head-menu__panel > li > a {
    color: #337ab7 !important;
    border-radius: 0;
}

.head-menu__panel > li > a:hover {
    color: #fff !important;
    background-color: #337ab7 !important;
}

@media all and (max-width: 767px) {
    .head-menu__panel > li > a {
        text-align: center;
    }
}