body {
    overflow-x: hidden;
}

.showcase {
    padding: 0px;
    overflow: hidden;
}

.showcase__image {
    width: 100%;
    background: #00b3ee;
}

.showcase__image > img {
    position: absolute;
    z-index: -1;
}

.showcase__image__desktop {
    left: 0;
    width: 100%;
}

.showcase__image__mobile {
    right: -50px;
}

@media (max-width: 670px) {
    .showcase__image__mobile {
        right: -100px;
    }
}