.showcase {
    padding: 0px;
}

.showcase__image {
    width: 100%;
    background: #00b3ee;
}

.showcase__image > img {
    position: absolute;
    z-index: -1;
}

.showcase__image__desktop {
    width: 100%;
    height: auto;
}

.showcase__image__mobile {
    width: auto;
}