body {
    overflow-x: hidden;
}

.showcase {
    padding: 0px;
    overflow: hidden;
}

.showcase__image {
    width: 100%;
    background: #00b3ee;
}

.showcase__image > picture > img {
    position: absolute;
    z-index: -1;
    right: 0;
    width: 100%;
}

.head-menu {
    margin: 0 !important;
}