.search-panel {
    position: fixed;
    width: 250px;
    min-height: 100%;
    background-color: #fff;
    top: 0;
    right: 0;
    transition: width .3s;
    z-index: 4;
}

/*--------------------------------------------------------------------------------------------------------------------*/
.search-panel__control-popup {
    position: relative;
    width: 100%;
    height: 34px;
    border: 1px solid #ccc;
    padding: 6px 12px;
    background-color: #eee;
}

.search-panel__control-popup:hover {
    cursor: pointer;
}

.search-panel__control-popup__icon {
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 10px;
    padding-right: 10px;
    color: #777;
}

/*--------------------------------------------------------------------------------------------------------------------*/
.search-panel__popup-panel {
    border: 1px solid #ccc;
    position: absolute;
}

/*--------------------------------------------------------------------------------------------------------------------*/
.search-button {
    float: right;
    background: transparent;
    color: #fff;
    border: none;
    margin: 15px 20px 0 0;
}

.search-button:focus {
    outline: none;
}

/*--------------------------------------------------------------------------------------------------------------------*/
.zero-width {
    width: 0 !important;
}

.zero-height {
    height: 0 !important;
}

.zero-display {
    display: none;
}

/*--------------------------------------------------------------------------------------------------------------------*/
@media all and (max-width: 430px) {

    .search-panel {
        width: 100%;
    }

}

@media all and (min-width: 768px) {

    .search-button {
        margin: 15px 15px 0 30px;
    }

}