.left-margin {
    padding: 0;
}

.main-content {
    background: #fff;
}

.thumbnails {
    background: #fff;
    width: 100%;;
    float: right;
}

.edit-button {
    float: right;
}

.first-in-a-row {
    clear: both;
}