.main-content {
    padding-top: 2px;
    background: #fff;
    position: relative;
}

.thumbnails {
    background: #fff;
    width: 100%;;
    float: right;
}

.edit-button {
    float: right;
}

.first-in-a-row {
    clear: both;
}